.iconoscontacto{
    width: 30px;
}
.mapa{
    height: 70%;
}
.textoiconoscontacto{
   @extend.frase1
}
#contenedoriconos{
 width: 50%;
 position: relative;
 padding-top: 5%;
 text-align: center;
}

#contenedoricymap{
    width: 100%;
}

.seleccione {
    @include seleccione
}
.seleccione1 {
    @extend .seleccione;
    margin-top: 10px;
}
.form{
margin: 2px;
}

.enviar{
    background-color: $color-oscuro;
    color:white;
    margin:10px;
    margin-left: 3px;
}
