@mixin contenedores {
    height: 250px ;
    background-color:rgb(93, 102, 93) ;
    margin-top: 2%;
    color: white;
}
@mixin contenedorespestañas {
    width: 100px;
    display: flex;
    flex-direction: row;

}

@mixin iconosfooter {
    width: 50px;
    height: 30px;
}

@mixin seleccione {
    color: white;
    margin-top: 1px;
    margin-bottom: 0,5px;
    margin-left: 2px
}

