.grid-container{
  display: grid;
  grid-template-areas: 
  "#contenedor1 #contenedor2  #contenedor3   #contenedor4  #contenedor5 ";
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: auto;
}